
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 22px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


.item {
  background: #e54678eb;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.item h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.item p {
  font-size: 18px;
  margin-bottom: 20px;
}

.item button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background: #fff;
  color: #4f46e5;
  cursor: pointer;
  border-radius: 5px;
}

.item button:hover {
  background: #e0e7ff;
}


section {
  padding: 50px 30px;
  max-width: 900px;
  margin: auto;
}

section h3 {
  font-size: 26px;
  margin-bottom: 15px;
}


.features ul {
  list-style: none;
}

.features li {
  padding: 10px 0;
}


.item2 {
  background: #e54678eb;
  color: #fff;
  text-align: center;
}

.item2 button {
  margin-top: 15px;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  background: #4f46e5;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.item2 button:hover {
  background: #4338ca;
}


footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
